{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
{% for post in posts %}
<div class="card mt-2 bg-lightblue">
    <div class="card-header"><strong>@{{ post.author.username }}</strong></div>
    <div class="card-body d-flex flex-row justify-content-between">
        <div>
            <h5 class="card-title">{{ post.title }}</h5>
            <p>{{ post.description }}</p>
        </div>
        <div>
            {% if user == post.author or perms.main.delete_post %}
                <form method="post">
                    {% csrf_token %}
                    <button id="btn-delete" type="submit" class="btn" name="post-id" value="{{post.id}}" style="font-weight: bold; color: #FF0000;">Delete Post</button>
                </form>
            {% endif %}
            {% if user.is_staff %}
            <form method="post">
                {% csrf_token %}
                <button id="btn-ban" type="submit" class="btn" name="user-id" value="{{post.author.id}}" style="font-weight: bold; color: #FFA500;">Ban User</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="card-footer text-muted">{{ post.created_at }}</div>
</div>
{% empty %}
<p>You do not have posts yet. Feel free to add one!</p>
{% endfor %} {% endblock %} 
